.el-table .warning-row {
  background: oldlace !important;
}

.el-table .success-row {
  background: #f0f9eb !important;
}

#task_status_select {
   .el-radio-button__orig-radio:checked + .el-radio-button__inner {
     background: $color-secondary !important;
     border: none;
   }
 }
