$color-primary: #039be5;
$color-secondary: #262f3d;
$color-accent: #82B1FF;
$color-error: #FF5252;
$color-info: #616161;
$color-success: #4CAF50;
$color-warning: #FFC107;

@import "./mixins";
@import "./transitions";
@import "./vuetify";
@import "./elements";


a {
  text-decoration: none;
}
