$color-primary: #6550ca;
$color-primary_light: #8f74ff;
$color-secondary: #262f3d;
$color-accent: #82B1FF;
$color-error: #FF5252;
$color-info: #616161;
$color-success: #4CAF50;
$color-warning: #FFC107;

@import "./mixins";
@import "./transitions";
@import "./vuetify";
@import "./elements";


a {
  text-decoration: none;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background: $color-primary !important;
}

.el-radio-button__inner:hover {
  color: $color-primary;
}
